# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\aline\OneDrive\Área de Trabalho\IFTO\2020-2\Padrões de Projeto\TemplateMethod\template_exemplo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
